@font-face {
    font-family: StratosSkyeng;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
        url('./fonts/statosskyeng-v1.001/Web_fonts/stratosskyengweb-regular.woff2') format('woff2'),
        url('./fonts/statosskyeng-v1.001/Web_fonts/stratosskyengweb-regular.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: StratosSkyeng, sans-serif;
    font-size: 40px;
    line-height: 48px;
    background-color: #004980;
    height: 774px;
}


.center {
    padding-left: calc(50% - 488px);
    padding-right: calc(50% - 488px);
}


.header {
    display: flex;
    margin-top: 22px;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.timer {
    background-image: url('./img/timer.png');
    background-size: cover;
    background-position: center;
    width: 155px;
    height: 91px;
}

.game-field {
    margin-left: calc(50% - 400px);
    margin-right: calc(50% - 400px);
    max-width: 800px;
    margin-top: 46px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.card-item {
    background-image: url('./img/рубашка.jpg');
    background-size: cover;
    background-position: center;
    width: 95px;
    height: 133px;
    cursor: pointer;
}

.reset-game-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
}

.reset-game-button:hover {
    scale: 0.95;
    box-shadow: inset 0 0 10px #046b01;
}

.start-select-box {
    margin-left: calc(50% - 240px);
    margin-right: calc(50% - 240px);
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    margin-top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
}

.difficult-text {
    max-width: 208px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-top: 52px;
    margin-bottom: 48px;
    color: #004980;
    text-align: center;
}

.difficult-checkbox {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
}

.difficult-item {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: #fff;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0080c1;
    cursor: pointer;
}

.difficult-item:hover {
    background-color: #8dd4f8;
}

.difficult-item-select {
    background-color: #8dd4f8;
}

.start-game-button {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    border: none;
    background-color: #7ac100;
    margin-top: 67px;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
}

.start-game-button:hover {
    scale: 0.95;
    box-shadow: inset 0 0 10px #046b01;
}

.card-item1 {
    background-image: url('./img/туз_пики.jpg');
}

.card-item2 {
    background-image: url('./img/король_пики.jpg');
}

.card-item3 {
    background-image: url('./img/дама_пики.jpg');
}

.card-item4 {
    background-image: url('./img/валет_пики.jpg');
}

.card-item5 {
    background-image: url('./img/10_пики.jpg');
}

.card-item6 {
    background-image: url('./img/9_пики.jpg');
}

.card-item7 {
    background-image: url('./img/8_пики.jpg');
}

.card-item8 {
    background-image: url('./img/7_пики.jpg');
}

.card-item9 {
    background-image: url('./img/6_пики.jpg');
}

.card-item10 {
    background-image: url('./img/туз_черви.jpg');
}

.card-item11 {
    background-image: url('./img/король_черви.jpg');
}

.card-item12 {
    background-image: url('./img/дама_черви.jpg');
}

.card-item13 {
    background-image: url('./img/валет_черви.jpg');
}

.card-item14 {
    background-image: url('./img/10_черви.jpg');
}

.card-item15 {
    background-image: url('./img/9_черви.jpg');
}

.card-item16 {
    background-image: url('./img/8_черви.jpg');
}

.card-item17 {
    background-image: url('./img/7_черви.jpg');
}

.card-item18 {
    background-image: url('./img/6_черви.jpg');
}

.card-item19 {
    background-image: url('./img/туз_бубны.jpg');
}

.card-item20 {
    background-image: url('./img/король_бубны.jpg');
}

.card-item21 {
    background-image: url('./img/дама_бубны.jpg');
}

.card-item22 {
    background-image: url('./img/валет_бубны.jpg');
}

.card-item23 {
    background-image: url('./img/10_бубны.jpg');
}

.card-item24 {
    background-image: url('./img/9_бубны.jpg');
}

.card-item25 {
    background-image: url('./img/8_бубны.jpg');
}

.card-item26 {
    background-image: url('./img/7_бубны.jpg');
}

.card-item27 {
    background-image: url('./img/6_бубны.jpg');
}

.card-item28 {
    background-image: url('./img/туз_крести.jpg');
}

.card-item29 {
    background-image: url('./img/король_крести.jpg');
}

.card-item30 {
    background-image: url('./img/дама_крести.jpg');
}

.card-item31 {
    background-image: url('./img/валет_крести.jpg');
}

.card-item32 {
    background-image: url('./img/10_крести.jpg');
}

.card-item33 {
    background-image: url('./img/9_крести.jpg');
}

.card-item34 {
    background-image: url('./img/8_крести.jpg');
}

.card-item35 {
    background-image: url('./img/7_крести.jpg');
}

.card-item36 {
    background-image: url('./img/6_крести.jpg');
}

.checkedCard {
    /* cursor: default; */
    pointer-events: none;
    opacity: 0.8;
}

.flip {
    transform: perspective(100px) rotateY(180deg) !important;
    transition: transform 200ms linear;
}

.card-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 30px rgb(65, 65, 65);
}

.end-game-box {
    left: calc(50% - 240px);
    /* margin-right: calc(50% - 240px); */
    background-color: #c2f5ff;
    width: 480px;
    height: 459px;
    top: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    z-index: 1;
    position: absolute;
}

.loose-smille-img {
    background-image: url('./img/loose-smile.png');
    background-size: cover;
    background-position: center;
    width: 96px;
    height: 96px;
    margin-top: 32px;
}

.win-smille-img {
    background-image: url('./img/win-smile.png');
    background-size: cover;
    background-position: center;
    width: 96px;
    height: 96px;
    margin-top: 32px;
}

.end-game-text {
    max-width: 276px;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    margin-top: 8px;
    color: #004980;
    text-align: center;
}

.end-time-text {
    max-width: 230px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
}

.game-time {
    max-width: 155px;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
    margin-top: 10px;
    color: #000000;
    text-align: center;
}

.reset-game-button__bottom {
    margin-top: 40px;
}

.game__transparent {
    opacity: 0.4;
}